body {
    background-color: rgb(20, 20, 20);
    color: white;
    margin: auto;
}

#topo {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    height: 3.5em;
    background-color: rgb(46, 46, 46);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.256);
}

#roda-pe {
    background-color: #222;
    height: 4em;
    color: white;
    text-align: center;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px 20px 0 0;
    margin-top: 1%;
}

#banner {
    margin-top: 1em;
    border-radius: 10px 10px 10px 10px;
}
#logo {
    position: absolute;
    top: 1px;
    left: 10px;
    width: 50px;
    height: 50px;
}
#logo_icon {
    width: 100%;
}

#nome {
    position: absolute;
    left: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 150%;
}
#menu_button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 1px;
    width: 50px;
    height: 50px;
    
}
#menu_icon {
    margin: auto;
    width: 50px;
}
#audio_toggle {
    cursor: pointer;
    right: 0;
    position: absolute;
    margin-right: 80px;
}

#rx4n_foto {
    width: 40%;
    border-radius: 20% 0 0 20%;
    opacity: 0%;
    position: absolute;
    right: 0;
    z-index: 0;
    transition-delay: 0.2s; 
    transition-duration: 2s;
}

#texto_1 {
    margin-left: 0;
    margin-top: 6%;
    position: absolute;
    opacity: 0%;
    transition-delay: 0.2s; 
    transition-duration: 1s;    
}
#rian {
    margin-left: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12vw;
    transition-duration: 1s;
}
#batista {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12vw;
    text-decoration: underline;
    transition-duration: 1s;
}
#subtexto {
    margin-left: 0;
    font-size: 2vw;
    transition-duration: 1s;
}

#sobre {
    width: 90%;
    padding: 1%;
    margin: auto;
    background-color: #222;
    margin-top: 45%;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 2%
}

#rx4n_foto_2 {
    width: 30%;
    border-radius: 0 20% 20% 0;
    position: absolute;
    left: 1;
    z-index: 0;
}

#texto_2 {
    margin-left: 42%;
    margin-top: 1%;
    position: absolute;
    font-size: 8vw;
}
#texto_3 {
    width: 57%;
    margin-left: 35%;
    margin-top: 12%;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}
#texto_4 {
    width: 57%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px) {
    #texto_3 {
        width: 57%;
        margin-left: 35%;
        margin-top: 12%;
        font-size: 3.5vw;
        font-family: 'Courier New', Courier, monospace;
    }
    #texto_4 {
        width: 90%;
        margin: 5% auto;
        font-size: 3.5vw;
        text-align: justify;
        margin-top: 12%;
    }
}

#skills {
    width: 90%;
    padding: 1%;
    margin: auto;
    background-color: #222;
    margin-top: 2%;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 2%
}

#texto_5 {
    margin-top: 1%;
    margin: auto;
    text-align: center;
    font-size: 8vw;
}

#habilidades {
  padding: 10px 20px;
  color: #fff;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.skill-box {
  background-color: #161616;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.skill-box h3 {
  margin-bottom: 15px;
  color: #00bcd4; /* azul elegante */
  font-size: 250%;
}

.skill-box ul {
  list-style: none;
  padding: 0;
  font-family: monospace;
  font-size: 175%;
}

.skill-box li {
  margin-bottom: 10px;
}
.skill-box:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(152, 255, 255, 0.773);
}


#texto_6 {
    text-align: center;
    margin: auto;
    width: 80%;
    margin-top: 2%;
    font-size: 1.7vw;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px) {
    #texto_6 {
        text-align: center;
        margin: auto;
        width: 80%;
        margin-top: 2%;
        font-size: 3.5vw;
        font-family: 'Courier New', Courier, monospace;
    }
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    z-index: 1;
}
#final {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.caixa {
    width: 45%;
    padding: 1em;
    background-color: #222;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
}

#icons {
    width: 20%;
    margin-left: 1%;
    text-align: center;
    margin-top: 2%;
}

a {
    text-decoration: underline;
    color: white;
    font-size: 3.3vw;
    padding: 1%;
}
#box{
    margin: auto;
    width: 60%;
    z-index: 1;
    margin-top: 1px;
}

#listas {
    margin-top: 15%;
    text-align: center;
}

#github {
    position: absolute;
    z-index: 0;
    margin-left: 10%;
    opacity: 30%;
    margin-top: 5%;
    width: 20%;
}

#menu {
    position: fixed;
    top: 3.5em; /* abaixo do topo */
    right: 0;
    background-color: #ffffff;
    overflow: hidden;
    width: 0;
    height: 0;
    transition: width 0.3s ease, height 0.3s ease;
    z-index: 999;
    border-radius: 0 0 0 10px;
}
@media (max-width: 768px) {
  #menu {
    width: 0;
    height: 0;
  }

  .menu-open {
    width: 80vw !important;
    height: 50vh !important;
  }
}

#irpara {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10%;
    padding: 0.1em;
    color: black;
    font-size: 200%;
}

#texto_8 {
    color: black;
    margin: auto;
    text-align: center;
    margin-top: -20px;
}

#irCaixa {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

